<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>

<body>
    <div>
        <form method="POST" action="">

                <h1>EMPLOYEE LOGIN</h1><br><br>
                <label>First Name:</label>
                <input type="text" placeholder="Enter First Name" id="name" name="fnames"><br><br>
                <label>Last Name:</label>
                <input type="text" placeholder="Enter Last Name" id="lastname" name="lnames"><br><br>
                <label>Employee ID:</label>
                <input type="text" placeholder="Enter your employee id" id="uid" name="uid"><br><br>
                <label>CompanyName:</label>
                <input type="text" placeholder="Enter your company name" id="company" name="company"><br><br>
                <label>Email:</label>
                <input type="text" placeholder="Enter email id" id="email" name="email"><br><br>
                <p id="abc">
                    <button class="submit_button" id="buttonname">Submit </button>
                </p>
        </form>
<link rel="stylesheet" href="static\first.css">
  </div>
    </body>
</html>