body {
  background-image: url(pic2.png);
  background-position: center;
  background-size: cover;
}

div {
  width: 300px;
  background-color: rgb(221, 219, 219);
  opacity: 0.9;

  padding: 50px;
  margin: 50px;
  margin-left: 550px;
  margin-top: 170px;
}
label {
  font-size: 0.5cm;
  color: black;
  text-align: center;
}
.submit_button:hover {
  border: 2px solid rgb(7, 7, 7);
  background-color: rgb(176, 218, 238);
  transition: 1s;
  font-size: 0.4cm;
  position: relative;
}
#abc {
  text-align: center;
}
input {
  background-color: rgb(246, 248, 240);
}
