div {
  width: 350px;

  background-color: rgb(221, 219, 219);
  opacity: 0.9;

  padding: 50px;
  margin: 50px;
  margin-left: 550px;
  margin-top: 170px;
  font-size: large;
}
body {

   background-image: url(pic2.png);
  background-position: center;
  background-size: cover;
}